.pokedex__title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.pokedex__title span {
    color: red;
}

.pokedex__form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pokedex__form input {
    width: 350px;
    height: 40px;
    padding: 10px;
    box-shadow: 0 2px 2px rgb(83, 77, 77);
}

.pokedex__form button {
    width: 100px;
    height: 40px;
    background-color: #d93f3f;
    color: #f9e3e3;
    box-shadow: 0 2px 2px rgb(83, 77, 77);
}

.pokedex__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.pokedex__header{
    background-image: url('../../../public/assets/headerpokedexid.webp');
    width: 100vw;
    height: 180px;
    background-size: cover;
    background-position: center;
    top: 0px;
    left: 0px;
}



